/* src/components/NavBar.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #1e3a8a; /* Darker Blue */
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
}

.top-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #FFC300;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease-in-out;
}

.top-info p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.top-info p svg {
  margin-right: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.top-info p:hover svg {
  transform: scale(1.2);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
}

.logo img {
  height: 50px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.logo img:hover {
  transform: scale(1.1);
}

.menu-icon {
  display: none; /* Hidden by default */
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

.nav-links li {
  position: relative;
  overflow: hidden;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  padding-bottom: 0.2rem;
}

.nav-links a:hover {
  color: #FFDC00;
}

.found-keys a {
  color: #1e3a8a;
  background-color: #FFDC00;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.found-keys a:hover {
  color: white;
  background-color: #FF0000;
  transform: translateY(-2px);
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .top-info {
    flex-direction: column;
    padding: 1rem;
    font-size: 0.8rem;
  }

  .main-nav {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .menu-icon {
    display: block; /* Show the menu icon on mobile */
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
  }

  .nav-links.nav-links-mobile {
    display: flex;
    background-color: #1e3a8a;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .logo img {
    height: 40px;
  }

  .nav-links a {
    font-size: 1rem;
  }

  .found-keys a {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }
}
